.header-wrapper {
  background-color: #456268;
  display: grid;
  header {
    width: 100vw;
    justify-self: center;
    // width: 80vw;
    height: 5em;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    a {
      padding-left: 2em;
      text-decoration: none;
      color: #fcf8ec;
      justify-self: start;
      h1 {
        margin: 0;
      }
    }
    .mobile-menu {
      svg {
        fill: white;
      }
    }
  
    nav {
      padding-right: 2em;
        ul {
        margin: 0;
        padding: 0;
        display: grid;
        list-style: none;
        grid-auto-flow: column;
        align-items: center;
        gap: 2em;
        li {
          color: #fcf8ec;
          text-decoration: none;
          &:hover {
            color: #d0e8f2;
          }
          span:hover {
            cursor: pointer;
          }
          .username:hover {
            color: #fcf8ec;
            cursor: default;
          }
        }
        .active {
          color: #d0e8f2;
        }
      }
    }
  }
}
