.create-bank-modal__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  .create-bank-modal {
    @media screen and (max-width: 768px) {
      min-width: 80vw;
    }
    @media screen and (min-width: 768px) {
      min-width: 40vw;
    }
    .create-bank-modal__header {
      display: grid;
      grid-auto-flow: column;
      svg {
        justify-self: end;
        &:hover {
          fill: red;
        }
      }
    }
    display: grid;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    gap: 1.5em;
    h2 {
      margin: 0;
    }
    form {
      display: grid;
      grid-auto-flow: row;
      gap: 1em;
    }
  }
}